@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-base: 0, 0, 0;
  --background-color-base: 255, 255, 255;
}

body {
  color: rgb(var(--text-color-base));
  background: rgb(var(--background-color-base));
}

p {
  margin-bottom: 0;
}
